flowEsmartigado/flow_esmartigado.json
[
  {
    "id": "78e674f3fab33447",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "422dc47bf1c95a13",
    "type": "http in",
    "z": "78e674f3fab33447",
    "name": "",
    "url": "/getanimais",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 140,
    "wires": [["142094bec3b323c9"]]
  },
  {
    "id": "142094bec3b323c9",
    "type": "function",
    "z": "78e674f3fab33447",
    "name": "function 1",
    "func": "let animais = global.get('animais') || [];\nmsg.payload = animais;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 140,
    "wires": [["76eab618d2181f42"]]
  },
  {
    "id": "76eab618d2181f42",
    "type": "http response",
    "z": "78e674f3fab33447",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 690,
    "y": 140,
    "wires": []
  },
  {
    "id": "2f15d49440f61ca9",
    "type": "http in",
    "z": "78e674f3fab33447",
    "name": "",
    "url": "/postanimais",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 210,
    "y": 200,
    "wires": [["c95268c7d3b4148a"]]
  },
  {
    "id": "c95268c7d3b4148a",
    "type": "function",
    "z": "78e674f3fab33447",
    "name": "function 2",
    "func": "let animais = global.get('animais') || [];\nlet contador = global.get('contadorAnimal') || 1;\n\nlet novosAnimais = Array.isArray(msg.payload) ? msg.payload : [msg.payload];\n\nnovosAnimais.forEach(animal => {\n    animal.id = contador;\n    animal.historicoPeso = animal.historicoPeso || [];\n    // Adiciona o peso inicial ao histórico\n    if (animal.pesoAtual) {\n        animal.historicoPeso.push({\n            data: new Date().toISOString().split('T')[0],\n            peso: animal.pesoAtual\n        });\n    }\n    // Calcula lucro estimado automaticamente\n    animal.lucroEstimado = (animal.valorMercado || 0) - ((animal.custoAlimentacao || 0) * 30);\n    contador++;\n    animais.push(animal);\n});\n\nglobal.set('animais', animais);\nglobal.set('contadorAnimal', contador);\nmsg.payload = novosAnimais;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 200,
    "wires": [["31736f5d4ba76629"]]
  },
  {
    "id": "31736f5d4ba76629",
    "type": "http response",
    "z": "78e674f3fab33447",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 630,
    "y": 200,
    "wires": []
  },
  {
    "id": "d82f1a591a55c3be",
    "type": "http in",
    "z": "78e674f3fab33447",
    "name": "",
    "url": "/animais/:id",
    "method": "delete",
    "upload": false,
    "swaggerDoc": "",
    "x": 210,
    "y": 260,
    "wires": [["616e15dceaad9c66"]]
  },
  {
    "id": "616e15dceaad9c66",
    "type": "function",
    "z": "78e674f3fab33447",
    "name": "function 3",
    "func": "let animais = global.get('animais') || [];\nlet id = msg.req.params.id;\n\nanimais = animais.filter(animal => String(animal.id) !== String(id));\n\nglobal.set('animais', animais);\nmsg.payload = { mensagem: \"Animal removido\" };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 320,
    "wires": [["4eb22ae52d9476c7"]]
  },
  {
    "id": "4eb22ae52d9476c7",
    "type": "http response",
    "z": "78e674f3fab33447",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 630,
    "y": 260,
    "wires": []
  },
  {
    "id": "2f9ac23371303cd1",
    "type": "http in",
    "z": "78e674f3fab33447",
    "name": "",
    "url": "/animais/:id",
    "method": "put",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 460,
    "wires": [["2caf260376fc4164"]]
  },
  {
    "id": "2caf260376fc4164",
    "type": "function",
    "z": "78e674f3fab33447",
    "name": "function 4",
    "func": "let animais = global.get('animais') || [];\nlet id = msg.req.params.id;\n\nlet index = animais.findIndex(animal => String(animal.id) === String(id));\n\nif (index !== -1) {\n    let animalAtual = animais[index];\n\n    // Atualiza os campos\n    animais[index] = { ...animalAtual, ...msg.payload, id: animalAtual.id };\n\n    // Se o peso mudou, adiciona ao histórico\n    if (msg.payload.pesoAtual && msg.payload.pesoAtual !== animalAtual.pesoAtual) {\n        animais[index].historicoPeso = animais[index].historicoPeso || [];\n        animais[index].historicoPeso.push({\n            data: new Date().toISOString().split('T')[0],\n            peso: msg.payload.pesoAtual\n        });\n    }\n\n    // Recalcula lucro estimado\n    animais[index].lucroEstimado = (animais[index].valorMercado || 0) - ((animais[index].custoAlimentacao || 0) * 30);\n\n    global.set('animais', animais);\n    msg.payload = animais[index];\n} else {\n    msg.payload = { erro: \"Animal não encontrado\" };\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 420,
    "wires": [["72180e41a0f49925"]]
  },
  {
    "id": "72180e41a0f49925",
    "type": "http response",
    "z": "78e674f3fab33447",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 550,
    "y": 460,
    "wires": []
  },
  {
    "id": "09bfba07a1d9e077",
    "type": "websocket in",
    "z": "78e674f3fab33447",
    "name": "Recebe Placa",
    "server": "ws_server_racao",
    "client": "",
    "x": 990,
    "y": 180,
    "wires": [["e5a9ea6e4420c889"]]
  },
  {
    "id": "e5a9ea6e4420c889",
    "type": "function",
    "z": "78e674f3fab33447",
    "name": "Processa, Alerta, Consumo & Histórico",
    "func": "try {\n    var textoLimpo = msg.payload.toString().trim();\n    var dados = JSON.parse(textoLimpo);\n\n    // ── Sensor de PRESENÇA ──────────────────────────────────────\n    if (dados && dados.tipo === \"presenca\") {\n        var temGado = dados.presenca === true;\n        global.set('presenca_gado', {\n            presenca: temGado,\n            distancia_cm: dados.distancia_cm,\n            timestamp: new Date().toISOString()\n        });\n        var statusP = temGado\n            ? \"GADO DETECTADO (\" + dados.distancia_cm + \" cm)\"\n            : \"Livre (\" + dados.distancia_cm + \" cm)\";\n        node.status({fill: temGado ? \"red\" : \"green\", shape: \"dot\", text: statusP});\n        return null;\n    }\n\n    // ── Sensor de RAÇÃO ─────────────────────────────────────────\n    if (dados && dados.distancia_cm !== undefined) {\n        dados.timestamp = new Date().toISOString();\n        dados.hora = new Date().toLocaleTimeString();\n\n        // ---- Bloquear medição se houver gado no local ----\n        var presencaGado = global.get('presenca_gado') || null;\n        if (presencaGado && presencaGado.presenca === true) {\n            dados.bloqueado = true;\n            dados.motivo_bloqueio = \"Gado detectado próximo ao recipiente. Medição de ração indisponível.\";\n            dados.distancia_cm = null;\n            dados.percentual_racao = null;\n            dados.peso_kg = null;\n            dados.alerta = \"BLOQUEADO\";\n            global.set('ultima_leitura', dados);\n            node.status({fill: \"red\", shape: \"ring\", text: \"BLOQUEADO: gado no local\"});\n            return null;\n        }\n\n        dados.bloqueado = false;\n\n        // ---- Config do recipiente ----\n        var config = global.get('config_recipiente') || null;\n        var percentualAtual = null;\n        var pesoAtual = null;\n\n        if (config && config.distancia_vazio_cm && config.distancia_cheio_cm) {\n            var vazio = config.distancia_vazio_cm;\n            var cheio = config.distancia_cheio_cm;\n            var faixa = vazio - cheio;\n\n            if (faixa > 0) {\n                var preenchido = vazio - dados.distancia_cm;\n                percentualAtual = (preenchido / faixa) * 100;\n                percentualAtual = Math.max(0, Math.min(100, percentualAtual));\n                percentualAtual = Math.round(percentualAtual * 10) / 10;\n\n                if (config.capacidade_kg) {\n                    pesoAtual = Math.round((percentualAtual / 100) * config.capacidade_kg * 100) / 100;\n                }\n            }\n        }\n\n        dados.percentual_racao = percentualAtual;\n        dados.peso_kg = pesoAtual;\n\n        // ---- Alerta ----\n        if (percentualAtual !== null) {\n            if (percentualAtual <= 15) {\n                dados.alerta = \"CRITICO\";\n            } else if (percentualAtual <= 30) {\n                dados.alerta = \"BAIXO\";\n            } else {\n                dados.alerta = \"NORMAL\";\n            }\n        } else {\n            dados.alerta = (dados.distancia_cm > 30) ? \"CRITICO\" : \"NORMAL\";\n        }\n\n        // ---- Consumo desde última leitura ----\n        var ultima = global.get('ultima_leitura');\n        var consumoDesdeUltima = null;\n        if (ultima && ultima.peso_kg !== null && ultima.peso_kg !== undefined && pesoAtual !== null) {\n            var diff = ultima.peso_kg - pesoAtual;\n            consumoDesdeUltima = diff > 0 ? Math.round(diff * 100) / 100 : 0;\n        }\n        dados.consumo_desde_ultima_kg = consumoDesdeUltima;\n\n        global.set('ultima_leitura', dados);\n\n        var historico = global.get('historico_leitor') || [];\n        historico.unshift(dados);\n        if (historico.length > 500) historico = historico.slice(0, 500);\n        global.set('historico_leitor', historico);\n\n        var statusTxt = dados.distancia_cm + \" cm\";\n        if (percentualAtual !== null) statusTxt += \" | \" + percentualAtual + \"%\";\n        statusTxt += \" | \" + dados.alerta;\n\n        var cor = \"green\";\n        if (dados.alerta === \"CRITICO\") cor = \"red\";\n        else if (dados.alerta === \"BAIXO\") cor = \"yellow\";\n\n        node.status({fill: cor, shape: \"dot\", text: statusTxt});\n    } else {\n        node.status({fill: \"yellow\", shape: \"ring\", text: \"Ignorado: Sem distância\"});\n    }\n} catch (e) {\n    node.status({fill: \"red\", shape: \"dot\", text: \"Erro na leitura do JSON\"});\n}\nreturn null;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1280,
    "y": 180,
    "wires": [[]]
  },
  {
    "id": "8578a0d7bbbdd73a",
    "type": "http in",
    "z": "78e674f3fab33447",
    "name": "GET /ultimo",
    "url": "/ultimo",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 1000,
    "y": 280,
    "wires": [["d14ec21bb3bdf611"]]
  },
  {
    "id": "d14ec21bb3bdf611",
    "type": "function",
    "z": "78e674f3fab33447",
    "name": "Retorna Último",
    "func": "var leitura = global.get('ultima_leitura') || { distancia_cm: null, percentual_racao: null, peso_kg: null, bloqueado: false };\nvar presenca = global.get('presenca_gado') || { presenca: false, distancia_cm: null, timestamp: null };\nmsg.payload = {\n    leitura: leitura,\n    presenca_gado: presenca\n};\nreturn msg;\n",
    "outputs": 1,
    "x": 1220,
    "y": 280,
    "wires": [["4363bff774836f08"]]
  },
  {
    "id": "4363bff774836f08",
    "type": "http response",
    "z": "78e674f3fab33447",
    "name": "200 OK",
    "statusCode": "200",
    "headers": {},
    "x": 1400,
    "y": 280,
    "wires": []
  },
  {
    "id": "9361fffe90c17251",
    "type": "http in",
    "z": "78e674f3fab33447",
    "name": "GET /historico",
    "url": "/historico",
    "method": "get",
    "upload": false,
    "x": 1000,
    "y": 360,
    "wires": [["32bcacf62c2c48ad"]]
  },
  {
    "id": "32bcacf62c2c48ad",
    "type": "function",
    "z": "78e674f3fab33447",
    "name": "Retorna Lista",
    "func": "msg.payload = global.get('historico_leitor') || [];\nreturn msg;",
    "outputs": 1,
    "x": 1210,
    "y": 360,
    "wires": [["3d2bf02eb9c96be3"]]
  },
  {
    "id": "3d2bf02eb9c96be3",
    "type": "http response",
    "z": "78e674f3fab33447",
    "name": "200 OK",
    "statusCode": "200",
    "headers": {},
    "x": 1400,
    "y": 360,
    "wires": []
  },
  {
    "id": "55fba1018bef4843",
    "type": "http in",
    "z": "78e674f3fab33447",
    "name": "POST /medir",
    "url": "/medir",
    "method": "post",
    "upload": false,
    "x": 1000,
    "y": 460,
    "wires": [["5617cb76ce1a5a90", "23b190784d8882fc"]]
  },
  {
    "id": "5617cb76ce1a5a90",
    "type": "function",
    "z": "78e674f3fab33447",
    "name": "Comando: medir",
    "func": "msg.payload = \"medir\";\nreturn msg;",
    "outputs": 1,
    "x": 1230,
    "y": 520,
    "wires": [["578ba2cf5c3f2c39"]]
  },
  {
    "id": "23b190784d8882fc",
    "type": "http response",
    "z": "78e674f3fab33447",
    "name": "200 OK",
    "statusCode": "200",
    "headers": {},
    "x": 1220,
    "y": 460,
    "wires": []
  },
  {
    "id": "578ba2cf5c3f2c39",
    "type": "websocket out",
    "z": "78e674f3fab33447",
    "name": "Envia para Placa",
    "server": "ws_server_racao",
    "client": "",
    "x": 1480,
    "y": 520,
    "wires": []
  },
  {
    "id": "89232583d985376d",
    "type": "http in",
    "z": "78e674f3fab33447",
    "name": "POST /alarme",
    "url": "/alarme",
    "method": "post",
    "upload": false,
    "x": 1000,
    "y": 620,
    "wires": [["cf38d4248efa2c65", "50aed10a33762fff"]]
  },
  {
    "id": "cf38d4248efa2c65",
    "type": "function",
    "z": "78e674f3fab33447",
    "name": "Adiciona/Remove Horário",
    "func": "// Espera: { \"hora\": \"14:30\", \"acao\": \"adicionar\" }  ou  { \"hora\": \"14:30\", \"acao\": \"remover\" }\n// Se 'acao' não vier, assume 'adicionar' (compatível com o formato antigo)\nvar body = msg.payload || {};\nvar lista = global.get('horarios_alarme') || [];\n\nif (body.hora) {\n    var acao = body.acao || 'adicionar';\n\n    if (acao === 'adicionar') {\n        if (lista.indexOf(body.hora) === -1) {\n            lista.push(body.hora);\n            lista.sort();\n        }\n    } else if (acao === 'remover') {\n        lista = lista.filter(function (h) { return h !== body.hora; });\n    }\n\n    global.set('horarios_alarme', lista);\n}\n\nmsg.payload = { horarios_alarme: lista };\nreturn msg;",
    "outputs": 1,
    "x": 1240,
    "y": 680,
    "wires": [[]]
  },
  {
    "id": "50aed10a33762fff",
    "type": "http response",
    "z": "78e674f3fab33447",
    "name": "200 OK",
    "statusCode": "200",
    "headers": {},
    "x": 1220,
    "y": 620,
    "wires": []
  },
  {
    "id": "9ca6872f0160996a",
    "type": "inject",
    "z": "78e674f3fab33447",
    "name": "Verifica a cada 1 min",
    "props": [],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 1020,
    "y": 760,
    "wires": [["d8f1dd46ba14d35e"]]
  },
  {
    "id": "d8f1dd46ba14d35e",
    "type": "function",
    "z": "78e674f3fab33447",
    "name": "Checa Horários do Alarme",
    "func": "var lista = global.get('horarios_alarme') || [];\nif (!lista.length) return null;\n\nvar agora = new Date();\nvar horaAtual = agora.getHours().toString().padStart(2, '0') + \":\" +\n                agora.getMinutes().toString().padStart(2, '0');\n\nif (lista.indexOf(horaAtual) !== -1) {\n    msg.payload = \"medir\";\n    return msg;\n}\nreturn null;",
    "outputs": 1,
    "x": 1270,
    "y": 760,
    "wires": [["578ba2cf5c3f2c39"]]
  },
  {
    "id": "450a7f6bba8b5850",
    "type": "http in",
    "z": "78e674f3fab33447",
    "name": "POST /config-recipiente",
    "url": "/config-recipiente",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 1030,
    "y": 840,
    "wires": [["d4b1da9adf6246c4", "67d28bbdfab0f826"]]
  },
  {
    "id": "d4b1da9adf6246c4",
    "type": "function",
    "z": "78e674f3fab33447",
    "name": "Salva Config Recipiente",
    "func": "// Espera: { \"distancia_vazio_cm\": 40, \"distancia_cheio_cm\": 5, \"capacidade_kg\": 20 }\nvar body = msg.payload || {};\nvar atual = global.get('config_recipiente') || {};\n\nif (body.distancia_vazio_cm !== undefined) atual.distancia_vazio_cm = Number(body.distancia_vazio_cm);\nif (body.distancia_cheio_cm !== undefined) atual.distancia_cheio_cm = Number(body.distancia_cheio_cm);\nif (body.capacidade_kg !== undefined) atual.capacidade_kg = Number(body.capacidade_kg);\n\nglobal.set('config_recipiente', atual);\nmsg.payload = atual;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1300,
    "y": 880,
    "wires": [[]]
  },
  {
    "id": "67d28bbdfab0f826",
    "type": "http response",
    "z": "78e674f3fab33447",
    "name": "200 OK",
    "statusCode": "200",
    "headers": {},
    "x": 1260,
    "y": 840,
    "wires": []
  },
  {
    "id": "3b9faa7fd802988a",
    "type": "http in",
    "z": "78e674f3fab33447",
    "name": "GET /config-recipiente",
    "url": "/config-recipiente",
    "method": "get",
    "upload": false,
    "x": 1030,
    "y": 900,
    "wires": [["c79fb66fc577c3ba"]]
  },
  {
    "id": "c79fb66fc577c3ba",
    "type": "function",
    "z": "78e674f3fab33447",
    "name": "Retorna Config",
    "func": "msg.payload = global.get('config_recipiente') || null;\nreturn msg;",
    "outputs": 1,
    "x": 1280,
    "y": 900,
    "wires": [["5180ad2cc2d56b4f"]]
  },
  {
    "id": "5180ad2cc2d56b4f",
    "type": "http response",
    "z": "78e674f3fab33447",
    "name": "200 OK",
    "statusCode": "200",
    "headers": {},
    "x": 1480,
    "y": 900,
    "wires": []
  },
  {
    "id": "b39645dcb3180f6e",
    "type": "http in",
    "z": "78e674f3fab33447",
    "name": "GET /alarme",
    "url": "/alarme",
    "method": "get",
    "upload": false,
    "x": 1010,
    "y": 960,
    "wires": [["6fb71378f60919e2"]]
  },
  {
    "id": "6fb71378f60919e2",
    "type": "function",
    "z": "78e674f3fab33447",
    "name": "Retorna Horários",
    "func": "msg.payload = { horarios_alarme: global.get('horarios_alarme') || [] };\nreturn msg;",
    "outputs": 1,
    "x": 1240,
    "y": 960,
    "wires": [["752944547e147e28"]]
  },
  {
    "id": "752944547e147e28",
    "type": "http response",
    "z": "78e674f3fab33447",
    "name": "200 OK",
    "statusCode": "200",
    "headers": {},
    "x": 1440,
    "y": 960,
    "wires": []
  },
  {
    "id": "2cad6b1e31ac12b0",
    "type": "http in",
    "z": "78e674f3fab33447",
    "name": "GET /consumo",
    "url": "/consumo",
    "method": "get",
    "upload": false,
    "x": 1010,
    "y": 1040,
    "wires": [["538573119f8537a1"]]
  },
  {
    "id": "538573119f8537a1",
    "type": "function",
    "z": "78e674f3fab33447",
    "name": "Calcula Consumo por Período",
    "func": "// Uso: GET /consumo?periodo=dia   ou   ?periodo=semana   ou   ?dias=7\nvar periodo = (msg.req && msg.req.query && msg.req.query.periodo) || 'dia';\nvar diasParam = (msg.req && msg.req.query && msg.req.query.dias);\n\nvar agora = new Date();\nvar limite = new Date(agora);\n\nif (diasParam) {\n    limite.setDate(agora.getDate() - Number(diasParam));\n} else if (periodo === 'semana') {\n    limite.setDate(agora.getDate() - 7);\n} else if (periodo === 'mes') {\n    limite.setDate(agora.getDate() - 30);\n} else {\n    // dia: desde a meia-noite de hoje\n    limite = new Date(agora.getFullYear(), agora.getMonth(), agora.getDate(), 0, 0, 0);\n}\n\nvar historico = global.get('historico_leitor') || [];\n\nvar doPeriodo = historico.filter(function (item) {\n    return new Date(item.timestamp) >= limite;\n});\n\n// soma todo consumo positivo registrado entre leituras dentro do período\nvar totalConsumidoKg = 0;\ndoPeriodo.forEach(function (item) {\n    if (item.consumo_desde_ultima_kg) {\n        totalConsumidoKg += item.consumo_desde_ultima_kg;\n    }\n});\ntotalConsumidoKg = Math.round(totalConsumidoKg * 100) / 100;\n\n// agrupa por dia (YYYY-MM-DD) para exibir gráfico no front\nvar porDia = {};\ndoPeriodo.forEach(function (item) {\n    var dia = item.timestamp.substring(0, 10);\n    porDia[dia] = (porDia[dia] || 0) + (item.consumo_desde_ultima_kg || 0);\n});\nObject.keys(porDia).forEach(function (d) {\n    porDia[d] = Math.round(porDia[d] * 100) / 100;\n});\n\nmsg.payload = {\n    periodo: periodo,\n    desde: limite.toISOString(),\n    total_consumido_kg: totalConsumidoKg,\n    leituras_no_periodo: doPeriodo.length,\n    consumo_por_dia: porDia\n};\nreturn msg;",
    "outputs": 1,
    "x": 1280,
    "y": 1040,
    "wires": [["ba381901ec44ed2a"]]
  },
  {
    "id": "ba381901ec44ed2a",
    "type": "http response",
    "z": "78e674f3fab33447",
    "name": "200 OK",
    "statusCode": "200",
    "headers": {},
    "x": 1470,
    "y": 1040,
    "wires": []
  },
  {
    "id": "ws_server_racao",
    "type": "websocket-listener",
    "path": "/racao",
    "wholemsg": "false"
  },
  {
    "id": "http_in_presenca",
    "type": "http in",
    "z": "78e674f3fab33447",
    "name": "GET /presenca",
    "url": "/presenca",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 120,
    "y": 700,
    "wires": [["func_presenca"]]
  },
  {
    "id": "func_presenca",
    "type": "function",
    "z": "78e674f3fab33447",
    "name": "Retorna presença gado",
    "func": "var presenca = global.get('presenca_gado') || { presenca: false, distancia_cm: null, timestamp: null };\nmsg.payload = presenca;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 340,
    "y": 700,
    "wires": [["http_resp_presenca"]]
  },
  {
    "id": "http_resp_presenca",
    "type": "http response",
    "z": "78e674f3fab33447",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 560,
    "y": 700,
    "wires": []
  }
]
